# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

